@charset "utf-8";

@font-face{
	font-family:'NanumSquareB';
	src: url('fonts/nanumsquareb.eot');
	src: url('fonts/nanumsquareb.eot?#iefix') format('embedded-opentype'),
		 url('fonts/nanumsquareb.woff') format('woff');
}
@font-face{
	font-family:'NanumSquareL';
	src: url('fonts/NanumSquareL.eot');
	src: url('fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		 url('fonts/NanumSquareL.woff') format('woff'),
		 url('fonts/NanumSquareL.ttf') format('truetype');
}
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, a, div{
	margin: 0;
	padding: 0;
	font-size: 16px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
