@charset "utf-8";

.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
	margin: -1px;
	overflow: hidden;
}
html, body, .wrap{
	width: 100%;
	height: 100%;
}
.wrap{
	position: relative;
}
.moreImg, .contents{
	position: absolute;
	width: 100%;
	height: 100%;
}
.title{
	position: relative;
	top: 31%;
}
.enTitle{
	font-family:'NanumSquareB';
	font-style: italic;
	font-size: 30px;
	color: #fff;
	text-align: right;
	padding: 0 5px;
	margin-bottom: -5px;
}
.line{
	width: 100%;
	height: 2px;
	background-color: #fff;
}
.koTitle{
	font-family: 'NanumSquareL';
	font-size: 24px;
	color: #fff;
	text-align: right;
}
.explanation{
	font-family:'NanumSquareB';
	position: relative;
	top: 35%;
	font-size: 13px;
	text-align: center;
	padding: 0 20px;
	color: #e6fdea;
	background-color: #112207;
}
