@charset "utf-8";

.wrap{ position: relative; }
.moreImg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.contents{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #000;
}
.title{	position: relative;	top: 31%; }
.enTitle{
	font-family:'NanumSquareB';
	position: relative;
	font-style: italic;
	font-size: 6em;
	text-align: right;
	margin-bottom: -3.2%;
}
.line{
	position: relative;
	width: 100%;
	border-bottom: 4px solid black;
}
.koTitle{
	font-family: 'NanumSquareL';
	font-size: 4em;
	position: relative;
	text-align: right;
}
.description{
	font-family:'NanumSquareB';
	position: relative;
	text-align: center;
	color: #442409;
	padding: 0 10%;
	margin-top: 60%;
}
.header2{	font-size: 2.5em; }
.explanation{ font-size: 2em; }
