@charset "utf-8";

.blind{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0,0,0,0);
	margin: -1px;
	overflow: hidden;
}
html, body, .wrap, .cover, .bg_image, .contents{
	width: 100%;
	height: 100%;
}
.cover{
	position: absolute;
	background: url('../images/index_resize.jpg') no-repeat center / 100% 100%;
}
.bg_image{
	background-color: rgba(0,0,0,0.4);
}
.contents{
	position: relative;
}
.title{
	position: absolute;
	top: 8%;
	width: 100%;
	height: 50px;
	text-align: center;
}
.tit{
	font-family: 'NanumSquareL';
	font-weight: lighter;
	color: #fff;
	display: none;
}
.koTitle{
	position: absolute;
	width: 48%;
	top: -12px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-family: 'NanumSquareL';
}
.enTitle{
	line-height: 50px;
	font-family: 'NanumSquareL';
	font-weight: lighter;
	font-size: 32px;
}
.line{
	position: absolute;
	top: 50%;
	height: 2px;
	background-color: #fff;
}
.lLine{	left: 0; }
.rLine{	right: 0; }

.btn_move{
	position: absolute;
	display: none;
	top: 34%;
	width: 15px;
	padding: 20px;
	z-index: 100;
}
.btn_left{ left: 5px;}
.btn_right{	right: 5px ;}


.canvas{
	position: relative;
	top: 22%;
	width: 100%;
	height: 33%;
	overflow: hidden;
}
.panel{
	position: absolute;
	width: 500%;
	height: 100%;
}
.img_area{
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
}
.img_area img{
	height: 100%;
	display: none;
}


.description{
	position: relative;
	width: 100%;
	color: #fff;
	text-align: center;
	overflow: hidden;
	top: 27%;
}
.header2, .explanation{
	font-family: 'NanumSquareB';
}
.header2{
	font-size: 26px;
	line-height: 40px;
}
.explanation{
	line-height: 24px;
	margin-top: 10px;
}
.more{
	position: relative;
	top: 30%;
	width: 100%;
	text-align: center;
}
.more_link{
	width: 35%;
	display: inline-block;
	padding: 3px 0 5px;
}
.btn_more{
	width: 120px;
	height: 22px;
	vertical-align: middle;
	background-color: #fafafa;
	border-radius: 50px;
	display: none;
}
